.toggle {
  min-width: 280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.list {
  min-width: 280px;
}

// Bootstrap override
.btn-blue {
  background-color: var(--color-blue);
  color: white;
  border: var(--color-blue);
  &:hover {
    background-color: var(--color-medium-blue);
  }
  &:focus {
    background-color: var(--color-blue) !important;
  }
}

.dropdown-item {
  color: var(--color-blue);
  &:active {
    background-color: var(--color-medium-blue);
  }
}
