.card {
  display: grid;
  grid-template-areas:
    "from to "
    "departing arriving"
    "box box";
  column-gap: 16px;
  grid-template-columns: 1fr 1fr;
  border-bottom: 2px solid var(--color-blue);
  padding-bottom: 8px;
  margin-bottom: 8px;
  width: 100%;
  @media only screen and (min-width: 576px) {
    width: auto;
    grid-template-columns: minmax(0, 200px) minmax(0, 200px) minmax(0, 150px);
    grid-template-areas:
      "from to box"
      "departing arriving box";
  }
}

.label {
  font-size: 12px;
  margin-bottom: 4px;
}

.location {
  font-weight: bold;
}

.to {
  grid-area: to;
}

.from {
  grid-area: from;
}

.departing {
  grid-area: departing;
}

.arriving {
  grid-area: arriving;
}

.time {
  display: flex;
  flex-direction: column;
}

.box {
  grid-area: box;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 8px;
  @media only screen and (min-width: 576px) {
    justify-content: flex-end;
    padding-top: 0px;
  }
}

.button {
  width: 100%;
  @media only screen and (min-width: 576px) {
    width: max-content;
  }
}

// Bootstrap css override
.btn-blue {
  background-color: var(--color-blue);
  color: white;
  border: 2px solid var(--color-blue);
  &:hover {
    color: white;
    background-color: var(--color-medium-blue);
    border: 2px solid var(--color-medium-blue);
  }
  &:disabled {
    background-color: white;
    border: 2px solid var(--color-orange);
    color: var(--color-blue);
    opacity: unset;
  }
  &:active {
    background-color: white !important;
    border: 2px solid var(--color-orange) !important;
    color: var(--color-blue) !important;
  }
}
