:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --color-blue: #263762;
  --color-orange: #e97e2b;
  --color-medium-blue: #476aa7;
  --color-light-blue: #eef2fd;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  color: var(--color-blue);
}

.credits a {
  color: var(--color-blue) !important;
}
.credits a:hover {
  text-decoration-color: var(--color-orange);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: var(--color-blue);
}
