.main {
  display: flex;
  flex-direction: column;
  color: var(--color-blue);
  align-items: center;
  padding: 3rem;
  min-height: 100vh;
  position: relative;
}

.heading {
  color: var(--color-blue);
  font-size: 40px;
  margin-bottom: 24px;
}

.link {
  position: absolute;
  color: var(--color-blue);
  cursor: pointer;
  bottom: 0;
  right: 0;
}
