.main {
  display: flex;
  flex-direction: column;
  color: var(--color-blue);
  align-items: flex-start;
  padding: 3rem;
  min-height: 100vh;
}

.heading {
  color: #263762;
  font-size: 36px;
  margin-bottom: 24px;
}
